.homePage {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #faf7f6;
}

.homePageNameHeading {
  font-size: calc(3rem + 2vmin);
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: -2px;
  color: #faf7f6;
  text-decoration: none;
}
