.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #faf7f6;
}

.homePageNameHeading {
  font-size: calc(2rem + 2vmin);
  text-transform: lowercase;
  font-weight: 600;
}
